/***************
    Generic styles, classes, and animations.
****************/
body {
  margin: 0; padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
/* apply this class to a div containing icon and text GradMe */
.logo {
  text-align: center;
  color: #9bddff;
  font-family: "open sans";
  font-size: 42px;
  font-weight: 600 !important;
}
.secondary-logo {
  color: black;
  font-size: 30px;
  margin: 5px 0 -5px 0;
  padding: 5px !important;
}
.outline {
  text-shadow:
    -1px -1px #222,
    1px -1px #222,
    -1px 1px #222,
    1px 1px #222;  
}

.tab {width: 10px;}
.bigtab {width: 25px;}
.paper {
  background-image: url('../images/paper.png'); background-blend-mode: multiply;
}

#navbar {
  position: fixed;
  width: 100vw;
  top: -10px;
  z-index: 100;
  background: rgba(250,250,250,0.9);
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  padding: 20px 5px 10px 5px;
  border-bottom: solid 1px #ababab;
}
a#hide {
  display: block;
}
/* combine with scrollpoint class*/
.hundredpx {position: absolute; top: 0; height: 100px}

/* Footer */
#footer {
  background-color: #000d1a;
}
.footer-panel {
  min-height: 250px;
  position: relative;
  border-top: 1px solid black;
}
.footer-section {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.footer-item {
  width: 28vw;
  margin: 25px 5px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 300 !important;
}
.footer-caption {
  font-family: Arial;
  text-transform: uppercase;
  color: white;
  font-size: 25px !important;
  font-weight: bold !important;
  letter-spacing: 2px;
  width: 100%;
  line-height: 36px;
}
.subnote {
  position: absolute;
  bottom: 10px;
  left: 50%;
}
input {
  border-radius: 2px !important;
}
.button {
  font-family: "Open Sans" !important;
  margin-right: 5px;
}

.copyright {
  color: #aaa;
  font-family: "open sans";
  letter-spacing: 1px;
  text-align: center;
}
.copyright-pos {
  position: relative; 
  left: -50%;
}
.in-site {
  color: #9bddff;
  font-family: "open sans";
  font-size: 18px;
  line-height: 24px;
}


/* tablet breakpoint */
@media (max-width: 767px) {
  .right.menu {
    visibility: hidden;
  }
  
}
@media only screen (max-device-width: 767px) {
  #navbar {
    padding: 15px 0 5px 0;
    margin: 0;
    border-radius: 10px;
    max-width: 96vw !important;
    width: 96vw !important;
  }
}
@media (max-width: 648px) {
    .footer-item {
      width: 90vw !important;
    }
    .panel-col {
      width: 100vw;
      padding-bottom: 0;
    }
}
/* icons */
.icons {
  justify-content: space-between;
}
.fa {
  padding: 15px;
  font-size: 20px !important;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}
.fa:hover {
    background: white;
    color: black;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-google {
  background: #dd4b39;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-reddit {
  background: #ff5700;
  color: white;
}