body {
  margin: 0;
  padding: 0;
}

.parallax {
    background-image: url("https://www.jhu.edu/theme/images/divisions-section-background-desk-9f3b03d3b9.jpg");
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.beneath{z-index: 1; background: transparent; width:100%; position:relative; top: 0; transform: translate(-0%, 0%);}

/* page content */
.logo-center {
  position: absolute; top: 25%; left: 50%; margin-right: -50%; transform: translate(-50%, -50%)
}
.title-center {width:100%; position: absolute; top: 42%; left: 50%; margin-right: -50%; transform: translate(-50%, -50%)}
.title {
    font-family: "Roboto Slab";
    font-weight: normal;
    letter-spacing: 2px;
    line-height: 49px;
    text-align: center;
    color: #fff;
    font-size: 433%;
    word-wrap: normal;
    text-shadow: 0 3px 3px rgba(0,0,0,0.50);
}

.subcenter {
    width:100%; position: absolute; top: 50%; left: 50%; margin-right: -50%; transform: translate(-50%, -20%)
}

.subtitle {
    font-family: "Open Sans";
    letter-spacing: 1px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    font-size: 150%;
    word-wrap: normal;
    text-shadow: 1px 3px 1px rgba(0,0,0,0.50);
}

.prompt {border-color: #fff; border: 1%; border-style: solid; padding: 10px; color: #fff;
    text-align: center; font-size: 20px; letter-spacing: 3px; font-family: "Roboto Slab";}

/* without Semantic stylsheet, use margin-left: -115px; width: 200px; height:25px; */
.prompt-pos{
    background:none; position: absolute; top: 62%; left:50%; margin-left: -125px; width: 250px; height:45px; z-index: 1;}

.prompt:hover {
    background: #Fff; 
    color: #000;
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

.panel{
    min-height: 400px; 
    display: flex; justify-content: center;
    -webkit-transition: -webkit-transform 0.6s ease-in-out; transition: transform 0.6s ease-in-out;
    border-bottom: 1px solid #aaa;
}

.panel-col {
    width: 40vw;
    max-height: 300px;
    overflow-y: hidden;
    border-radius: 15px;
    margin: 20px 15px 20px 15px;
    display: flex; flex-direction: column; justify-content: center;
}

#first {
    background-color: #fff;
    flex-flow: row wrap-reverse;
    background-image: url('../images/debut_light.png'); background-blend-mode: multiply;
}

#second {
    background-color: #e1eef9;
    flex-flow: row wrap;
    background-image: url('../images/school2.png'); background-blend-mode: multiply;
}

#third {
    background-color: #fff;
    flex-flow: row wrap-reverse;
    background-image: url('../images/paper.png'); background-blend-mode: multiply;
}

#last {
  background-image: url('../images/peabody.jpg'), linear-gradient(15deg, #fff, #aaa);
  background-position: center;
  background-blend-mode: multiply;
  background-attachment: fixed/*,scroll*/;
  background-repeat: no-repeat, repeat;
  background-size: cover, auto;
  color: white;
}

img {
  max-width: 40vw;
}

.caption {
  font-family: "Roboto Slab";
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 1px;
  width: 100%;
  line-height: 36px;
  text-align: center;
}

.description {
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 400;
}

/* style for last panel */
.text-center {
  text-align: center;
}

.clickme {
  height: 30%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.final {border-color: #9bddff; border: 1%; border-style: solid; padding: 10px; color: #9bddff;
    text-align: center; font-size: 20px; letter-spacing: 3px; font-family: "Roboto Slab";
    background: rgba(50,50,50,0.5);
}

.final:hover {
    background: #9bddff; 
    color: #000;
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
    text-shadow: none;
}

hr {
  border: 0;
  height: 3px; 
  background: #000;
}

img {
  border-radius: 15px;
}

/*media queries for info panels and footer */
@media (max-width: 648px) {
    img {
      max-width: 100vw;
    }
}

/* animations */
.fadeIn {
    animation: fadein 2.5s;
    -moz-animation: fadein 2.5s;
    -webkit-animation: fadein 2.5s;
    -o-animation: fadein 2.5s;
}

.fadeInFast {
    animation: fadein 1s;
    -moz-animation: fadein 1s;
    -webkit-animation: fadein 1s;
    -o-animation: fadein 1s;
}

.fadeInSlow {
    animation: fadein 3.5s;
    -moz-animation: fadein 3.5s;
    -webkit-animation: fadein 3.5s;
    -o-animation: fadein 3.5s;
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}
    /* Firefox */
@-moz-keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}
    /* Safari and Chrome */
@-webkit-keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}
    /* Opera */
@-o-keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}