/***************
    Generic styles, classes, and animations.
****************/

/* apply this class to a div containing icon and text GradMe */
.logo {
  text-align: center;
  color: #9bddff !important;
  font-family: "open sans";
  font-size: 42px;
  font-weight: 600;
}

.outline {
  text-shadow:
    -1px -1px #222,
    1px -1px #222,
    -1px 1px #222,
    1px 1px #222;  
}

/* Top navigation bar style */
.navbar {
  position: fixed;
  width: 100vw !important;
  top: 0;
  padding: 5px 5vw 5px 5vw;
  z-index: 10;
}

.item:hover {
  background-color: rgba(100,100,100,0.70) !important;
}

/* Footer */
#footer {
  background-color: #373737;
}

.footer-panel {
  min-height: 250px;
  position: relative;
}

.footer-section {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.footer-item {
  width: 31vw;
  margin: 20px 5px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 300 !important;
}

.footer-caption {
  font-family: Arial;
  text-transform: uppercase;
  color: white;
  font-size: 25px !important;
  font-weight: bold !important;
  letter-spacing: 2px;
  width: 100%;
  line-height: 36px;
}

.footer-last {
  position: absolute;
  bottom: 10px;
  left: 50%;
}

.field {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

input {
  border-radius: 2px !important;
}

.button {
  font-family: "Open Sans" !important;
  margin-right: 5px;
}

.copyright {
  color: #aaa;
  font-family: "open sans";
  letter-spacing: 1px;
  text-align: center;
}

.copyright-pos {
  position: relative; 
  left: -50%;
}

.in-site {
  color: teal;
  font-family: "open sans";
  font-size: 18px;
  line-height: 24px;
}

@media (max-width: 648px) {
    .footer-item {
      width: 90vw !important;
    }
    .panel-col {
      width: 100vw;
      padding-bottom: 0;
    }

    .navbar {
      padding: 5px 0;
    }

    .menu {
      width: 100vw !important;
    }
}

/* icons */
.icons {
  justify-content: space-between;
}

.fa {
  padding: 15px;
  font-size: 20px !important;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    background: white;
    color: black;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-reddit {
  background: #ff5700;
  color: white;
}