/*.panel {
  height: 350px;
  padding: 0;
  background: white;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  -webkit-transition: -webkit-transform 0.6s ease-in-out; transition: transform 0.6s ease-in-out;
}
.centered {
  justify-content: center;
}
div.title {
  background: #9bddff;
  margin: 3% 0;
}
.pagetitle {
  position: relative;
  width: 100%;
  padding: 35px;
  height: 90px;
  font-family: Open Sans;
  font-weight: 600;
  font-size: 4em;
  text-align: center;
}
.infobox {
  height: 100%;
  border: 1px solid black;
}
.infobox > .header {
  margin: 0;
  padding: 20px;
  border-bottom: 1px solid black;
  font-family: "Roboto Slab";
  letter-spacing: 1px;
  font-size: 1.5em;
}
.courselist {
  height: 100;
}
.courselist.item {
  padding: 14px;
}
#nopadding {
  padding: 0 !important
}
.ui.segment {
  padding: 0 !important;
}
.ui.grid.container, .ui.grid {
  padding: 0 !important;
}*/