.planner-title {
	width: 300px !important;
	text-align: left;
}

#planner-container {
  padding-top: 10vh;
  margin: 0;
}
.ui.grid.container {
  width: 100vw !important;
  padding: 0 0 0 5%;
}
.ui.massive {
  font-size: 2.7em !important;
}
.row {
  min-height: 100vh;
  margin-top: -20vh;
}
.pointing {
  top: 75px;
  left: 30px;
  min-width: 300px;
}
.pointing .active {
  font-weight: bold;
}

.submit {
  margin-right: 30px !important;
  font-family: "Open Sans";
  font-weight: bold !important;
  text-transform: uppercase !important;
  letter-spacing: 1px;
  background: #000;
  margin-bottom: -10px !important;
}
.submit:hover {
	background: white;
}

.slideContainer {
  background: #f9f9f9;
  max-width: 500px;
  border-radius: 7px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  box-sizing: border-box;
  padding: 48px 12px;
  text-align: center;
  height: auto;
}

.slides {
  position: relative;
  -webkit-transition: 0.3s ease;
  transition: 0.3s cubic-bezier(.26,.26,.72,.90);
  overflow: visible;
}
.slide {
  position: relative;
  display: none;
  top: 0;
  left: 0;
}
.slide.active {
  display: block;
}

.title {
  margin: 0 0 0px;
  color: #218;
  font-family: "Roboto Slab";
  font-size: 30px;
  font-weight: 600;
}

.description {
  margin: 15px 40px; font-family: "Open Sans"; font-weight: 300; font-size: 16px;
}

.cardFooter {
  display: flex;
  flex-direction: row-reverse; 
  /* due to residual hover effect, button rendered in reverse order
  and reversed by flex so hover remains with linear progression (next > next) */
  justify-content: space-around;
  margin: 12px 0 -36px 0;
}

/*-- Semantic restyling */

/* activated major tags */
a.label {
    min-width: 89% !important;
    text-align: center;
    border-radius: 10px !important;
}

@media (max-width: 768px) {
  .four.column {
    display: none !important;
  }
  .row {
    min-height: 42vh;
  }
  .ui.grid.container {
    padding: 0;
  }

  .slideContainer {
  	margin: 10px auto;
  }
}

/* Material UI restyling */
.mui-btn.mui-btn--flat{}