.planner-container {
  height: 100vh;
}
.planner-title {
	width: 300px !important;
  font-family: 'Roboto';
	text-align: left;
}
.ui.massive {
  font-size: 2.7em !important;
}
.pointing {
  top: 75px;
  left: 30px;
  min-width: 300px;
}
.pointing.active {
  font-weight: bold;
}
.submit {
  margin-right: 30px;
  font-weight: bold;
  letter-spacing: 1px;
  background: #000;
  margin-bottom: -10px;
}
.submit:hover {
	background: white;
}
.slideContainer {
  background: #f9f9f9;
  max-width: 500px;
  border-radius: 7px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  box-sizing: border-box;
  padding: 36px 12px 12px 12px;
  text-align: left;
  height: auto;
}
.slides {
  position: relative;
  -webkit-transition: 0.3s ease;
  transition: 0.3s cubic-bezier(.26,.26,.72,.90);
  overflow: visible;
}
.slide {
  position: relative;
  display: none;
  top: 0;
  left: 0;
}
.slide.active {
  display: block;
}
.title {
  margin: 0;
  text-align: center;
  color: #333;
  font-family: "Roboto Slab";
  font-size: 30px;
  font-weight: 600;
}
.description {
  margin: 15px 40px 24px 40px; font-family: "Open Sans"; font-weight: 300; font-size: 16px;
}
.cardFooter {
  display: flex;
  flex-direction: row-reverse; 
  /* due to residual hover effect, button rendered in reverse order
  and reversed by flex, causing activated hover effect to remain
  with linear progression (next > next) */
  justify-content: space-around;
  margin: 12px 0 0 0;
}

/*-- Semantic restyling */
.ui.grid.container {
  width: 100vw !important;
  padding: 10vw 0;
  min-height: 100vh;
}
.ui.multiple.dropdown>.label {
    text-align: center;
    border-radius: 10px;
    line-height: 1.4em;
    font-family: 'Roboto Slab';
    color: #424242;
}
.ui.multiple.search.dropdown>input.search {
	line-height: 1.4em !important;
}
.ui.multiple.search.dropdown>.text {
  line-height: 1.4em !important;
}
.ui.multiple.dropdown {
	padding-right: 0.5em;
}
@media (max-width: 768px) {
  .four.column {
    display: none !important;
  }
  .row {
    min-height: 42vh;
  }
  .ui.grid.container {
    padding: 0;
  }
  .slideContainer {
  	margin: 10px auto;
  }
}

/* Material UI restyling */
.mui-btn.mui-btn--flat{}