#planner-container {
  padding-top: 10vh;
}

.row {
  min-height: 100vh;
  margin-top: -20vh;
}
.pointing {
  top: 75px;
  left: 30px;
  min-width: 300px;
}
.pointing .active {
  font-weight: bold;
}

.left {
  text-align: left;
}

.btn {
  border-radius: 2px;
  padding: 8px 72px 8px 72px;
  margin-bottom: -20px;
  color: #D18B49;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.submit {
  margin-right: 30px !important;
  font-family: "Open Sans" !important;
  font-weight: bold !important;
  text-transform: uppercase !important;
  letter-spacing: 1px;
  background: none;
  color: teal !important;
  margin-bottom: -10px !important;
}

.card {
  background: #f9f9f9;
  max-width: 500px;
  margin: 50px auto;
  border-radius: 7px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  box-sizing: border-box;
  padding: 48px 12px;
  text-align: center;
  height: auto;
}

.slides {
  position: relative;
  -webkit-transition: 0.3s ease;
  transition: 0.3s cubic-bezier(.26,.26,.72,.90);
  overflow: visible;
}
.slide {
  position: relative;
  display: none;
  top: 0;
  left: 0;
}
.slide.active {
  display: block;
}

.image {
  margin: 0 0 24px;
}

.title {
  margin: 0 0 0px;
  color: #D18B49;
  font-family: "Roboto Slab";
  font-size: 30px;
  font-weight: 600;
}

.description {
  margin: 15px 40px; font-family: "Open Sans"; font-weight: 300; font-size: 16px;
}

.cardFooter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 12px 0 -12px 0;
}
/*-- Semantic restyling */

/* activated major tags */
a.label {
    min-width: 89% !important;
    text-align: center;
}

@media (max-width: 768px) {
  .four.column {
    display: none !important;
  }
  .row {
    min-height: 42vh;
  }
}